h2{
    color:#775131;
    /*this is a css comment*/
    /*making a nice css file means nothing if you forget to link it; links go into the head section*/
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #b1acff;
    font-size: small;
}
img{
    border: solid 5px #775131;
}
li{
    border: solid 3px #775131;
}
body{
    lin
}