h2{
    color:#775131;
    /*this is a css comment*/
    /*making a nice css file means nothing if you forget to link it; links go into the head section*/
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #b1acff;
    font-size: small;
}
img{
    border: solid 5px #775131;
}
li{
    border: solid 3px #775131;
}
body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }
 nav li{
    border: 2px solid #000;
    background-color: aqua;
    border-radius: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    padding: 15px;
    margin: 20px;
    width: 20%;
    display: inline-block;
 }
 img{
    width: 24%;
    padding: 15px: 0%;
    border: #046307;
    border-style: dashed; 
    margin: auto;
 }
 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 